@import "constants.scss";
@import "transitions";
@import "shadowed.scss";

body {
  background: $background;
  margin: 0;

  color: white;

  font-family: Inter, sans-serif;
}

.centered-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: transparent;
  border: none;
  border-radius: 3px;
  margin: 0;
  padding: .5rem;
  color: white;
  box-sizing: content-box;
  cursor: pointer;

  &:hover {
    background: transparentize(white, 0.8);
  }

  &:active {
    background: transparentize(white, 0.6);
  }

  &.fab-style, &.fab {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    border-radius: 100%;
  }

  &.fab {
    @include Shadowed;
    background: $accent;
  }
}

.fab-holder {
  position: fixed;
  bottom: 0;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

p {
  background: transparent;
}

@mixin MainSized {

}

hr {
  border: none;
  border-bottom: 1px transparentize(white, 0.8) solid;
  margin: 0;
  padding: 0;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

textarea {
  background: transparent;
  border: 1px solid transparentize(white, 0.8);
  border-radius: 6px;
  resize: vertical;
  outline: none;
  color: white;

  &:focus {
    outline: none;
    border-color: $accent;
  }
}

.like-textarea {
  border: 1px solid transparentize(white, 0.8);
  border-radius: 6px;
}

input {
  background: transparent;
  border: none;
  border-bottom: 3px solid transparentize(white, 0.8);
  outline: none;
  color: white;
  padding: .5rem;
  font-size: 1rem;
  transition: 200ms border-bottom-color ease-in-out;

  &.no-border {
    border: none;
  }

  &:focus {
    outline: none;
    border-color: $accent;
  }
}

@keyframes template-animation {
  0% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

.template p,
.template span,
.template a,
.template h1,
.template h2,
.template h3,
.template h4,
.template h5,
.template button,
.template input {
  &:not(.non-templatable, .non-templatable *) {
    color: transparent !important;
    background-size: 400% 400% !important;
    border-radius: 2px;
    cursor: default;

    &:not(.transparent-template) {
      background: linear-gradient(
                      -45deg,
                      transparentize(white, 0.9) 40%,
                      transparentize(white, 0.85) 45%,
                      transparentize(white, 0.7) 50%,
                      transparentize(white, 0.85) 55%,
                      transparentize(white, 0.9) 60%
      );
      animation: template-animation 3s ease infinite;
    }

    &.transparent-template {
      visibility: hidden !important;
    }

    &.text.title {
      max-width: 50%;
    }

    &.hidden-template {
      visibility: hidden !important;
      width: 0;
      height: 0;
    }

    &.text {
      max-width: 70%;
    }
  }
}

button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.shadowed {
  @include Shadowed;
}

.horizontal-spacer {
  margin-left: auto !important;
}

.vertical-spacer {
  margin-top: auto !important;
}

.align-left {
  text-align: start;
}

.ellipsize {
  text-overflow: ellipsis;
}

.small * {
  font-size: .75rem;
}

.medium * {
  font-size: 1.5rem;
}

.large * {
  font-size: 2rem;
}

.xlarge * {
  font-size: 3rem;
}